
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
h1 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: xx-large;
    text-align: center;
    background: #2e2e2e;
    padding: 1em;
    margin: auto;
    
}

body {
    
    background-color:#242424;
    color:#aaaaaa;
    font-family: "Roboto Mono", monospace;

}

main{

    border: solid 2px #2e2e2e;
    padding: 1em;
    margin: 25px;
}

#centerText {
    width: fit-content;
    margin: 0 auto;
}

