    </div>
  </body>
  <footer>
      <div
      id="cusdis_thread"
      data-theme="dark"
      data-host="https://cusdis.com"
      data-app-id="30c15547-b7a9-4953-93a9-4a3bc586e558"


    ></div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    <hr class="main" />
    <ul>
      <a href="../index.html">Home</a>
      <a>|</a>
      <a href="../blog.html">Blog</a>
      <a>|</a>
      <a href="../feed.xml">RSS</a>
      <a>|</a>
      <a href="https://github.com/NotNeelPatel">GitHub</a>
      <a>|</a>
      <a href="https://www.linkedin.com/in/notneelpatel/">Linkedin</a>
      <a>|</a>
      <a href="">YouTube (Coming soon!)</a>
    </ul>
    <a href="#top">↑ Top of page ↑</a>
  </footer>
</html>
