        <a href="https://notneelpatel.github.io/WallpaperThemeConverter/">
          Check out my latest project!
        </a>
      </p>
      <hr />
      <p style="text-align: center">
        ↓ Check out the chat, and some random images that I like ↓
      </p>
      <br />
      <div style="display: inline-table">
        <iframe
          src="https://www5.cbox.ws/box/?boxid=932125&boxtag=7tE6Rt"
          width="250px"
          height="215px"
          allowtransparency="yes"
          frameborder="0"
          loading="lazy"
          style="border: 1px solid #aaa; margin-right: 0.25em"
        ></iframe>
        <script>
          let len = 42;
          let rand = 1;
          let check = [0, 0, 0];
          for (let i = 0; i < 3; i++) {
            rand = Math.random();
            rand = Math.floor(rand * len);
            let image = rand;
            if (!check.includes(rand)) {
              check[i] = rand;
              var image_node = new Image();
              image_node.alt = "pic";
              image_node.loading = "lazy";
              image_node.src = "./assets/images/home/" + rand + ".jpg";
              image_node.style.marginLeft = "0.25em";
              image_node.style.marginRight = "0.25em";
              document.getElementById("main-container").appendChild(image_node);
            } else {
              i -= 1;
            }
          }
        </script>
      </div>
    </div>
  </body>
  <footer>
    <hr class="main" />
    <ul>
      <a href="./index.html">Home</a>
      <a>|</a>
      <a href="./blog.html">Blog</a>
      <a>|</a>
      <a href="./feed.xml">RSS</a>
      <a>|</a>
      <a href="https://github.com/NotNeelPatel">GitHub</a>
      <a>|</a>
      <a href="https://www.linkedin.com/in/notneelpatel/">Linkedin</a>
      <a>|</a>
      <a href="">YouTube (Coming soon!)</a>
    </ul>
    <a href="#top">↑ Top of page ↑</a>
    <p style="font-size: 10px; color: #aaa">
      Disclamer: I do not own most of these images. They belong to their
      rightful owner.
    </p>
  </footer>
</html>
