@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@viewport {
    width: device-width;
    zoom: 1;
}

@media only screen and (max-width:800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    img {
        max-width: 100%;
        margin: auto;
        border: 1px solid #aaa;
    }

    img.no-border {
        border: none;
    }
}

@media screen and (min-width: 600px) {
    img {
        max-width: 45%;
        margin: auto;
        border: 1px solid #aaa;
    }

    img.no-border {
        border: none;
    }
}


h1 {
    font-family: "PT Serif", serif;
    letter-spacing: 5px;
    word-spacing: 7px;
    font-weight: 100;
    display: inline-table;

}

h2,
h3,
h4,
h5 {
    font-family: "JetBrains Mono", monospace;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: #8bc7ff
}

a.white {
    text-decoration: none;
    text-decoration-line: none;
    color: #fff
}

a:hover {
    color: #aaa
}

hr {
    color: #777
}

hr.main {
    max-width: 90%;
    height: 4px;
}

hr.small {
    max-width: 90%;
}

header {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #000;
}

body {
    font-family: "Inconsolata", monospace;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

li {
    display: inline;
}

li a {
    color: #fff;
    text-decoration: none;
}

code {
    border-left: 4px solid #777;
    background-color: #111;
    padding: 0.5em;
}

#navbar {
    background-color: #000;
    background-image: url("images/home/bg.gif");
    padding: 0 auto;
    margin-left: 5%;
    margin-right: 5%;

}

#flex {
    display: flex;
}

#main-container {
    background-color: #000;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
}


#cusdis_thread {
    background-color: #000;
    margin-left: 5%;
    margin-right: 5%;

}

footer {
    margin-top: 0.5em;
    padding-top: 0.5em;
    text-align: center;
}

footer a {
    color: #777
}

#sidebar {
    order: 3;
    padding: 20px;
    margin: left;
}

main {
    flex: 1;
    order: 2;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50%;
    gap: 1em;
}

input {
    background-color: transparent;
    color: #fff;
    font-size: 1.5em;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: solid 1px #aaa;
}

.entries {
    margin: 0 auto;
    display: grid;
    gap: 0.25em;
}

.hide {
    display: none;
}