@import url(root.css);

#novatorem{
    background-color: var(--backgroundtertiary); 
    border: 2px solid var(--textlight);  
    border-radius: 15px;
}

#flex {
    display: flex;
}

#project-display {
    place-items: center;
}

#sidebar {
    order: 3;
    padding: 20px;
    margin: left;
}

aside {
    text-align: center;
}


@media only screen and (max-width:1200px) {
    #flex {
        flex-wrap: wrap;
    }

    #sidebar{
        padding: 0;
    }

    aside {
        width: 100%;
    }


    img {
        max-width: 100%;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }
}

@media screen and (min-width: 1200px) {
    img {
        max-width: 320px;
    }

    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}