/*--- Imports ---*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,100&display=swap');
@import url('https://fonts.cdnfonts.com/css/fantasque-sans-mono');

/*--- Colour Scheme ---*/
:root{
    --backgroundprimary: #f2e5bc;
    --backgroundsecondary: #ebdbb2;
    --backgroundtertiary: #7c6f64;
    --accentprimary: #427b58;
    --accentsecondary: #f44336;
    
    --textlighter: #7c6f64;
    --textlight: #665c54;
    --textdark: #504945;
    --textdarker: #282828;

    --linkcolour: #458588;

    --primaryfont: "Fantasque Sans Mono", serif;
    --secondaryfont: "Noto Serif", serif;
    --italicizedfont: "Noto Serif", sans-serif;
}

:root.light{
    --backgroundprimary: #f2e5bc;
    --backgroundsecondary: #ebdbb2;
    --backgroundtertiary: #7c6f64;
    --accentprimary: #427b58;

    
    --textlighter: #7c6f64;
    --textlight: #665c54;
    --textdark: #504945;
    --textdarker: #282828;

    --linkcolour: #458588;
}

:root.dark{
    --backgroundprimary: #282828;
    --backgroundsecondary: #3c3836;
    --backgroundtertiary: #282828;
    --accentprimary: #d5c4a1;
    
    --textlighter: #928374;
    --textlight: #d5c4a1;
    --textdark: #d5c4a1;
    --textdarker: #ebdbb2;

    --linkcolour: #83a598;
}

/*--- Global Styles ---*/

/* Make top of page button smoothly scroll up */
html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

/* Header */
header {
    margin-right: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-template-rows: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 70px;
    align-items: baseline;
}

header h1 {
    text-align: center;
    display: inline;
}

header a::after {
    width: 0%;
    transform: scaleX(0);
  }
  
header a:hover::after {
    transform: scaleX(0);
  }

#darkModeToggle {
    text-decoration: none;
    color: transparent;  
    text-shadow: 0 0 0 var(--accentprimary);
    font-size: x-large;
    margin-right: 0;
}

.navbar {
    text-align: center;
}

.navbar li{
    display: inline;
}

.navbar a {
    font-style: italic;
}

/* Body */
body {
    background-color: var(--backgroundsecondary);
    font-family: var(--primaryfont);
    color: var(--textdarker);
    font-size: 20px;
    line-height: 24px;
}

#main-container{
    background-color: var(--backgroundprimary);
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Footer */
footer {
    margin-top: 0.5em;
    padding-top: 0.5em;
    text-align: center;
}

footer a {
    color: var(--textlighter)
}

/* Text */
h1 {
    font-family: var(--italicizedfont), serif;
    font-style: italic;
    letter-spacing: 5px;
    word-spacing: 7px;
    font-weight: 100;
    color: var(--accentprimary);
    font-size: 2em;
}

h2,
h3,
h4,
h5 {
    font-family: var(--secondaryfont);
    line-height: 25px;
    color: var(--textlight);
}


/* Modified code from https://github.com/Softwave/softwave.github.io/blob/master/style.css#L108 */

a {
    text-decoration: none;
    display: inline;
    position: relative;
    color: var(--linkcolour);
  }
  
a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--linkcolour);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
  }
  
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

h1 a{
    color:var(--accentprimary);
}


/* Individual Elements */
code {
    border-left: 4px solid var(--accentprimary);
    background-color: var(--backgroundsecondary);
    color: var(--textdark);
    padding: 4px;
    line-height: 30pt;
}

hr {
    border: none;
    border-top: 2px solid var(--accentprimary);
    color: var(--accentprimary);
    height: 5px;
}

hr.main {
    max-width: 90%;
    height: 4px;
    border-top: 1px solid var(--accentprimary);
    border-right: 1px solid var(--accentprimary);
    border-bottom: 1px solid var(--accentprimary);
    border-left: 1px solid var(--accentprimary);
    overflow: visible;
    text-align: center;
}

hr.main:after {
    background: var(--backgroundsecondary);
    content: '//';
    color: var(--linkcolour);
    padding: 0 4px;
    margin: 0 50px;
    position: relative;
    top: -9px;
}

/* Files */
img.no-border {
    border: none;
}

audio{
    border-radius:15px;
}

/* Viewports */
@viewport {
    width: device-width;
    zoom: 1;
}

@media only screen and (max-width:1200px) {

    h1{
        font-size: x-large;
    }

    img {
        max-width: 100%;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }

    video {
        max-width: 100%;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }
}

@media screen and (min-width: 1200px) {
    img {
        max-width: 600px;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }
    video {
        max-width: 45%;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }

    audio {
        width: 500px;
    }

    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}




