/*--- Imports ---*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


/*--- Colour Scheme ---*/
:root{
    --backgroundprimary: #f2efdf;
    --backgroundsecondary: #f2efdf;
    --backgroundtertiary: #bec5b2;
    --accentprimary: #35a77c;
    --accentsecondary: #f44336;
    
    --textlighter: #4d5960;
    --textlight: #3a464c;
    --textdark: #333c43;
    --textdarker: #293136;

    --linkcolour: #35a77c;

    --primaryfont: "Lora", serif;
    --secondaryfont: "Lora", serif;
    --italicizedfont: "Lora", sans-serif;
}

:root.light{
    --backgroundprimary: #f2efdf;
    --backgroundsecondary: #f2efdfe6;
    --backgroundtertiary: #bec5b2;
    --accentprimary: #35a77c;
    
    --textlighter: #4d5960;
    --textlight: #3a464c;
    --textdark: #333c43;
    --textdarker: #293136;

    --linkcolour: #35a77c;
}

:root.dark{
    --backgroundprimary: #2c3831;
    --backgroundsecondary: #2c3831e6;
    --backgroundtertiary: #48584e;
    --accentprimary: #83c092;
    
    --textlighter: #a1b691;
    --textlight: #ffe9b6;
    --textdark: #ffe9b6;
    --textdarker: #d3ceaa;

    --linkcolour: #83c092;
}

/*--- Global Styles ---*/
html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    background: url("../images/bg.png"), var(--backgroundprimary);
    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 800px; /* Adjust this to control speed */
  }
}
/* Header */
header {
    margin: 0 5%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-template-rows: 0;
    padding-bottom: 70px;
    padding-top: -10px;
    align-items: baseline;
}

header h1 {
    text-align: center;
    display: inline;
}

header a::after {
    width: 0%;
    transform: scaleX(0);
  }
  
header a:hover::after {
    transform: scaleX(0);
  }

#darkModeToggle {
    text-decoration: none;
    color: transparent;  
    text-shadow: 0 0 0 var(--accentprimary);
    font-size: x-large;
    margin-right: 0;
}

.navbar {
    text-align: center;
}

.navbar li{
    display: inline;
}

.navbar a {
    font-style: italic;
}

/* Body */
body {
    background-color: var(--backgroundsecondary);
    font-family: var(--primaryfont);
    color: var(--textdarker);
    font-size: 1.25rem;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

#main-container{
    background-color: var(--backgroundprimary);
    padding: 5px 4vw;
}

/* Footer */
footer {
    padding: 1vh 0;
    text-align: center;
}

footer a {
    color: var(--textlighter)
}

/* Text */
h1 {
    font-family: var(--italicizedfont), serif;
    font-style: italic;
    letter-spacing: 5px;
    word-spacing: 7px;
    font-weight: 100;
    color: var(--accentprimary);
    font-size: 2em;
}

h2,
h3,
h4,
h5 {
    font-family: var(--secondaryfont);
    line-height: 25px;
    color: var(--textlight);
}


/* Modified code from https://github.com/Softwave/softwave.github.io/blob/master/style.css#L108 */

a {
    text-decoration: none;
    display: inline;
    position: relative;
    color: var(--linkcolour);
  }
  
a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--linkcolour);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
  }
  
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

h1 a{
    color:var(--accentprimary);
}


/* Individual Elements */
code {
    border-left: 4px solid var(--accentprimary);
    background-color: var(--backgroundtertiary);
    color: var(--textdarker);
    padding: 4px;
    line-height: 30pt;
}

hr {
    border: none;
    border-top: 2px solid var(--accentprimary);
    color: var(--accentprimary);
    height: 5px;
}

hr.main {
    max-width: 90%;
    height: 4px;
    border-top: 1px solid var(--accentprimary);
    border-right: 1px solid var(--accentprimary);
    border-bottom: 1px solid var(--accentprimary);
    border-left: 1px solid var(--accentprimary);
    overflow: visible;
    text-align: center;
}

hr.main:after {
    background: var(--backgroundprimary);
    content: '˚◡˚';
    color: var(--linkcolour);
    padding: 0px 1px;
    position: relative;
    top: -12px;
}

/* Files */
img.no-border {
    border: none;
}

audio{
    border-radius:15px;
}

/* Viewports */
@viewport {
    width: device-width;
    zoom: 1;
}

@media only screen and (max-width:1200px) {

    h1{
        font-size: x-large;
    }

    img {
        max-width: 100%;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }

    video {
        max-width: 100%;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }
}

@media screen and (min-width: 1200px) {
    img {
        max-width: 600px;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }
    video {
        max-width: 45%;
        margin: auto;
        border: 2px solid var(--textlighter);
        border-radius: 15px;
    }

    audio {
        width: 500px;
    }

    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}




