@import url(root.css);

.search-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50%;
    gap: 1em;
}

input {
    background-color: transparent;
    color: var(--textdarker);
    font-size: 1.5em;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: solid 2px var(--accentprimary);
    font-family: var(--primaryfont);
}

.entries {
    margin: 0 auto;
    display: grid;
    gap: 0.25em;
}

.hide {
    display: none;
}
